<div *ngIf="locationType">
  <h5>Location</h5>
  <div>
    Choose a location...
  </div>
  <select size="{{locationData && locationData.results && locationData.results.length}}">
    <option *ngFor="let location of locationData.results" value="{{location.location_id}}">{{location.name}}</option>
  </select>
</div>
