<div>
  <h5>Location Type</h5>
  <div>
    Choose a location type...
  </div>
  <select id='locationTypeSelect' size="{{distinctLocationTypes && distinctLocationTypes.length + 1}}">
    <option value="" disabled selected>-- none --</option>
    <option *ngFor="let locationType of distinctLocationTypes"
            (click)="onSelect(locationType)"
            value="{{locationType}}">{{locationType | replaceUnderscoresWithSpaces | titlecase}}</option>
  </select>
</div>
